.tc-btn {
    border-radius: 2%;
    background: #3a2996;
    padding: 5px;
    width: 60px;
    margin: 7px 5px 5px 5px;
    color: #fff;
    border: none;
}
.tc-btn:hover {
    background:#fff;
    color:#ff4954;
}

.container {
    background: #ff4954;
    height: 146px;
}

.bug-icon {
    box-shadow: 2px 2px 5px #331f20;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
